<div id="wrapper" [ngClass]="isLogin">
    <app-navbar></app-navbar>
<div class="main">
    <!-- MAIN CONTENT -->
    <div class="main-content">
        <div class="container-fluid">
            <!-- OVERVIEW -->

          
           
            <div class="panel panel-headline">

               
              
                 <div style="display: flex; justify-content: center;height: 300px; align-items: center;" [ngClass]="loader" >
                    <div class="loader-overview"></div>
                </div>
                <div [ngClass]="display">
                <div class="panel-heading">
                    <h3 class="panel-title">Promo Akumulasi</h3>
                    <p class="panel-subtitle"></p>
                </div>
                


                <div class="panel-body">
                    <form [ngClass]="formClass" #addPromoForm="ngForm" (ngSubmit)="addPromoAkumulasi(addPromoForm)" novalidate class="form-horizontal" action="create_new_class.php" method="post" style="margin-bottom: 30px;">
                        Judul:<input type="text"  name="title" class="form-control" style="width: 50%" [(ngModel)]="title" required ><br>
                        Subtitle :<input type="text"  name="subtitle" class="form-control" style="width: 50%"[(ngModel)]="subtitle" required ><br>
                        Tanggal Mulai Promo: <input type="date" class="form-control" style="width: 50%" name="start_Date" [(ngModel)]="start_date" required><br>
                        Tanggal Selsai Promo: <input type="date" class="form-control" style="width: 50%" name="end_Date" [(ngModel)]="end_date" required><br>
                        Deskripsi: <textarea cols="10" rows="7" name="description" class="form-control" style="width: 50%; height: 50%;"  [(ngModel)]="description"></textarea><br>
                        Cashback:<input type="number" name="cashback" class="form-control" style="width: 50%" required  [(ngModel)]="cashback"/><br>
                        Target Akumulasi :<input type="number" name="target_akumulasi" style="width: 50%" class="form-control" required [(ngModel)]="target_akumulasi"/><br>
                        <span style="color: red;">{{addPromoMessage}}</span>
                        <tr><td><input type="submit" name="submit" class="btn btn-primary"></td></tr>
                    </form>

                    <form [ngClass]="formUpdateClass" #updatePromoForm="ngForm" (ngSubmit)="updatePromoAkumulasi(addPromoForm)" novalidate class="form-horizontal" action="create_new_class.php" method="post" style="margin-bottom: 30px;">
                        <input type="hidden" name="kode_promo" [(ngModel)]="kodePromo">
                        Judul:<input type="text"  name="title" class="form-control" style="width: 50%" [(ngModel)]="title" required ><br>
                        Subtitle :<input type="text"  name="subtitle" class="form-control" style="width: 50%"[(ngModel)]="subtitle" required ><br>
                        Tanggal Mulai Promo: <input type="date" class="form-control" style="width: 50%" name="start_Date" [(ngModel)]="start_date" required><br>
                        Tanggal Selsai Promo: <input type="date" class="form-control" style="width: 50%" name="end_Date" [(ngModel)]="end_date" required><br>
                        Deskripsi: <textarea cols="10" rows="7" name="description" class="form-control" style="width: 50%; height: 50%;"  [(ngModel)]="description"></textarea><br>
                        Cashback:<input type="number" name="cashback" class="form-control" style="width: 50%" required  [(ngModel)]="cashback"/><br>
                        Target Akumulasi :<input type="number" name="target_akumulasi" style="width: 50%" class="form-control" required [(ngModel)]="target_akumulasi"/><br>
                        <span style="color: red;">{{addPromoMessage}}</span>
                        <tr><td><input type="submit" name="submit" class="btn btn-primary"></td></tr>
                    </form>
                 
                    <div [ngClass]="alert" class="alert alert-dismissible show"  role="alert">
                         {{alertMessage}} Promo.
                        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                          <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <table datatable [dtTrigger]="dtTrigger" [dtOptions]="dtOptions"  class="row-border hover">
                        <thead>
                          <tr>
                            
                                <th>ID Promo</th>
                                <th>Judul</th>
                                <th>Subtitle</th>
                                <th>Tanggal Mulai</th>
                                <th>Tanggal Selesai</th>
                                <th>Deskripsi</th>
                                <th>Cashback</th>
                                <th>Target Akumulasi</th>
                                <th>Edit Promo</th>
                         
                          </tr>
                        </thead>
                        <tbody>
                          <tr  *ngFor='let promo of promo'>
                              <td>{{promo.kode_promo}}</td>
                              <td>{{promo.title}}</td>
                              <td>{{promo.subtitle}}</td>
                              <td>{{promo.start_date}}</td>
                              <td>{{promo.end_date}}</td>
                              <td>{{promo.description}}</td>
                              <td>{{promo.cashback}}</td>
                              <td>{{promo.target_akumulasi}}</td>
                              <td><div *ngIf="validateDate(promo)"><button class="btn btn-primary" id="{{promo.kode_promo}}" (click)="onSelect(promo)">Edit </button></div>
                                <div *ngIf="!validateDate(promo)"><button class="btn btn-primary" disabled>Edit </button></div>
                            </td>
                          </tr>
                        </tbody>
                       
                      </table>
                     
<form action="" method="post" style="margin-top: 20px;">
	<button type="submit" name="submit" (click)="toggleAdd()" class="btn btn-primary" value="Add" style="background-color: #ff3d2b; border-color:#ff3d2b; "><strong>Add Promo&nbsp;</strong><i class="fa fa-plus"></i></button>
</form>
</div>
</div>
</div>
</div>
</div>
</div>
</div>


 
                        <!--
                        Tanggal Mulai Promo: <input type="date" class="form-control" style="width: 50%" name="start_Date" [(ngModel)]="start_date" required><br>
                        Tanggal Selsai Promo: <input type="date" class="form-control" style="width: 50%" name="end_Date" [(ngModel)]="end_date" required><br>
                        Deskripsi: <textarea cols="10" rows="7" name="description" class="form-control" style="width: 50%; height: 50%;" [(ngModel)]="description"></textarea><br>
                        Cashback:<input type="number" name="cashback" class="form-control" style="width: 50%" required [(ngModel)]="cashback"/><br>
                        Target Akumulasi :<input type="number" name="target_akumulasi" style="width: 50%" class="form-control" required [(ngModel)]="target_akumulasi"/><br> -->