		<!-- NAVBAR -->
		<nav class="navbar navbar-default navbar-fixed-top">
			<div class="brand" style="padding-bottom:10px; padding-top:20px;">
				<a href="index.html"><img src="assets/img/logo-dark.png" alt="Klorofil Logo" class="img-responsive logo"></a>
			</div>
			<div class="container-fluid">
				<div class="navbar-btn">
					<button type="button" class="btn-toggle-fullwidth"><i class="lnr lnr-arrow-left-circle"></i></button>
				</div>

				<div class="navbar-btn navbar-btn-right">
					<a class="btn btn-success update-pro" href="#" title="Logout"  (click)="logout()"> <span>Logout</span></a>
				</div>
				<div id="navbar-menu">
					<ul class="nav navbar-nav navbar-right">

					</ul>
				</div>
			</div>
		</nav>
		<!-- END NAVBAR -->
		<!-- LEFT SIDEBAR -->
		<div id="sidebar-nav" class="sidebar">
			<div class="sidebar-scroll"  *ngIf="role=='ADMIN'">
				<nav>
					<ul class="nav">
                   
						<li><a [routerLink]="['/']" routerLinkActive="true" class="active"><i class="lnr lnr-home"></i> <span>Dashboard</span></a></li>
                        <li>
							<a href="#promo" data-toggle="collapse" class="collapsed"><i class="lnr lnr-store"></i> <span>Promo</span> <i class="icon-submenu lnr lnr-chevron-left"></i></a>
							<div id="promo" class="collapse">
								<ul class="nav">
									<li><a [routerLink]="['/promo-akumulasi']" routerLinkActive="true" class="">Promo Akumulasi</a></li>
									<li><a [routerLink]="['/promo-kode']" routerLinkActive="true" class="">Promo Kode</a></li>
								</ul>
							</div>
						</li>
						<li><a  [routerLink]="['/jenisReksadana']" routerLinkActive="true" class=""><i class="lnr lnr-list"></i> <span>Jenis Reksadana</span></a></li>
						<li><a  [routerLink]="['/product-reksadana']" routerLinkActive="true" class=""><i class="lnr lnr-chart-bars"></i> <span>Product Reksadana</span></a></li>
						<li><a [routerLink]="['/bobotResiko']" routerLinkActive="true" class=""><i class="lnr lnr-warning"></i> <span>Bobot Resiko</span></a></li>
						<li><a [routerLink]="['/input-nab']" routerLinkActive="true" class=""><i class="lnr lnr-chart-bars"></i> <span>Input NAB</span></a></li>
                        <li>
							<a href="#historiTransaksi" data-toggle="collapse" class="collapsed"><i class="lnr lnr-undo"></i> <span>Histori Keseluruhan</span> <i class="icon-submenu lnr lnr-chevron-left"></i></a>
							<div id="historiTransaksi" class="collapse">
								<ul class="nav">
									<li><a [routerLink]="['/histori-pembelian']" routerLinkActive="true" class="">Pembelian</a></li>
									<li><a [routerLink]="['/histori-penjualan']" routerLinkActive="true" class="">Penjualan</a></li>
								</ul>
							</div>
						</li>

					</ul>
				</nav>
			</div>
			<div class="sidebar-scroll"  *ngIf="role=='CS'">
				<nav>
					<ul class="nav">
                   
						<li><a [routerLink]="['/']" routerLinkActive="true" class="active"><i class="lnr lnr-home"></i> <span>Dashboard</span></a></li>		
					
						<li>
							<a href="#historiTransaksiNasabah" data-toggle="collapse" class="collapsed"><i class="lnr lnr-history"></i> <span>Transaksi Nasabah</span> <i class="icon-submenu lnr lnr-chevron-left"></i></a>
							<div id="historiTransaksiNasabah" class="collapse">
								<ul class="nav">
									<li><a [routerLink]="['/histori-pembelian-nasabah']" routerLinkActive="true" class="">Histori Pembelian Nasabah</a></li>
									<li><a [routerLink]="['/histori-penjualan-nasabah']" routerLinkActive="true" class="">Histori Penjualan Nasabah</a></li>
								</ul>
							</div>
						</li>

					</ul>
				</nav>
			</div>
		</div>
		<!-- END LEFT SIDEBAR -->