<div id="wrapper" [ngClass]="isLogin">
    <app-navbar [role]="role"></app-navbar>
<div class="main">
    <!-- MAIN CONTENT -->
    <div class="main-content">
        <div class="container-fluid">
            <!-- OVERVIEW -->

          
           
            <div class="panel panel-headline">

               
              
                 <div style="display: flex; justify-content: center;height: 300px; align-items: center;" [ngClass]="loader" >
                    <div class="loader-overview"></div>
                </div>
                <div [ngClass]="display">
                <div class="panel-heading">
                    <h3 class="panel-title">Daily NAB</h3>
                    <p class="panel-subtitle"></p>
                </div>
                


                <div class="panel-body">
                    <div style="margin: 20px 0px;">
                        Jenis Reksadana
                        <select [(ngModel)]="idJenis" class="form-control" style="width: 50%;" (change)="getDailyNab()">
                            <option *ngFor="let jenis of jenisReksadana" value={{jenis.id_jenis}}>{{jenis.nama_jenis}}</option>
                        </select>
                    </div>
                    <div [ngClass]="formUpdateClass">
                        <h2>Add Daily NAB</h2>
                    <form  #updateForm="ngForm" (ngSubmit)="updateDailyNab(updateForm)" novalidate class="form-horizontal"  method="post" style="margin-bottom: 30px;">
                        Id Produk :<input type="number" maxlength="30" max="30"  name="idProduk" class="form-control" style="width: 50%" [(ngModel)]="idProduk" required disabled><br>  
                        Nama Produk :<input type="text" maxlength="30" max="30"  name="namaProduk" class="form-control" style="width: 50%" [(ngModel)]="namaProduk" required disabled><br>  
                        Daily Nab :<input type="number" maxlength="30" max="30"  name="nab" class="form-control" style="width: 50%" [(ngModel)]="nab" required ><br>  
                        <div style=" margin-bottom: 10px;"><span style="color: red;">{{submitFormMessage}}</span></div>
                          <tr><td><input type="submit" name="submit" class="btn btn-primary"></td></tr>
                      </form>
                    </div>
                    <div [ngClass]="alert" class="alert alert-dismissible show"  role="alert">
                         {{alertMessage}} Jenis Reksadana.
                        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                          <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <table  datatable [dtTrigger]="dtTrigger" [dtOptions]="dtOptions"  class="row-border hover">
                        <thead>
                          <tr>
                            
                                <th>ID Produk</th>
                                <th>Nama Produk</th>
                                <th>Latest NAB</th>    
                                <th>Add Daily NAB</th>                    
                          </tr>
                        </thead>
                        <tbody  *ngIf="dailyNab">
                          <tr  *ngFor='let dailyNab of dailyNab'>
                              <td>{{dailyNab.id_produk}}</td>
                              <td>{{dailyNab.nama_produk}}</td>
                              <td>{{dailyNab.latest_nab| currency : 'Rp ' | IDR}}</td>
                              <td *ngIf="dailyNab.is_updated_today==0"><button class="btn btn-primary" (click)="onSelect(dailyNab)">Add Daily NAB </button>
                              <td *ngIf="dailyNab.is_updated_today!=0"><button class="btn btn-primary" disabled>Add Daily NAB </button>
                                
                            </td>
                          </tr>
                        </tbody>
                       
                      </table>
                     
</div>
</div>
</div>
</div>
</div>
</div>
</div>
<div *ngIf="isLogin=='hidden'">
  <div style="display: flex; justify-content: center; height: 500px; align-items: center;" [ngClass]="loader" >
    <div class="loader-overview"></div>
  </div>
</div>